In [34]:
import psycopg2
from sqlalchemy import create_engine

In [35]:

    conn = psycopg2.connect(database="postgres",
                        host="localhost",
                        user="postgres",
                        password="123456",
                        port="5432")
    crsr = conn.cursor()

In [36]:
"""
up.uses_netloc.append("postgres")
url = "postgres://ojsviats:SMTMA2n8pMCoLS-LlukJAdnmrwkwS_Uc@flora.db.elephantsql.com/ojsviats"

conn = psycopg2.connect(url)
crsr = conn.cursor()
"""

'\nup.uses_netloc.append("postgres")\nurl = "postgres://ojsviats:SMTMA2n8pMCoLS-LlukJAdnmrwkwS_Uc@flora.db.elephantsql.com/ojsviats"\n\nconn = psycopg2.connect(url)\ncrsr = conn.cursor()\n'

In [37]:
query = '''
CREATE TABLE profesor (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [38]:
conn.commit()

In [39]:
query = '''
CREATE TABLE ta (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_profesor VARCHAR(32) NOT NULL,
    nombre VARCHAR(32) NOT NULL,
    CONSTRAINT fk_profesor 
        FOREIGN KEY (id_profesor) REFERENCES profesor(id)
    )
'''
crsr.execute(query)

In [40]:
conn.commit()

In [41]:
query = '''
CREATE TABLE campus (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [42]:
conn.commit()

In [43]:
query = '''
CREATE TABLE promocion (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    mes VARCHAR(32),
    fecha_inicio VARCHAR(32),
    id_campus VARCHAR(32),
    CONSTRAINT fk_campus_ver FOREIGN KEY (id_campus) REFERENCES campus(id)
    )
'''
crsr.execute(query)

In [44]:
conn.commit()

In [45]:
query = '''
CREATE TABLE vertical (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    id_promocion VARCHAR(32), 
    id_profesor VARCHAR(32),
    CONSTRAINT fk_promocion_ver FOREIGN KEY (id_promocion) REFERENCES promocion(id),
    CONSTRAINT fk_profesor_ver FOREIGN KEY (id_profesor) REFERENCES profesor(id)
    )
'''
crsr.execute(query)

In [46]:
conn.commit()

In [47]:
query = '''
CREATE TABLE proyectos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [48]:
conn.commit()

In [49]:
# Alumnos table
query = '''
CREATE TABLE alumnos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    email VARCHAR(32) NOT NULL,
    id_vertical VARCHAR(32) NOT NULL,
    CONSTRAINT fk_vertical
        FOREIGN KEY (id_vertical) REFERENCES vertical(id)
    )
'''
crsr.execute(query)

In [50]:
conn.commit()

In [51]:
query = '''
CREATE TABLE notas (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_alumno VARCHAR(32) NOT NULL,
    id_proyecto VARCHAR(32),
    nota VARCHAR(32),
CONSTRAINT fk_alumnos_notas FOREIGN KEY (id_alumno) REFERENCES alumnos(id),
CONSTRAINT fk_proyectos_notas FOREIGN KEY (id_proyecto) REFERENCES proyectos(id)
)
'''
crsr.execute(query)

In [52]:
conn.commit()

In [53]:
query = '''
INSERT INTO alumnos VALUES (53,'Matias ','email@loquese.com',2)
'''
crsr.execute(query)

ForeignKeyViolation: insert or update on table "alumnos" violates foreign key constraint "fk_vertical"
DETAIL:  Key (id_vertical)=(2) is not present in table "vertical".

In [ ]:
conn.commit()