In [14]:
import psycopg2
import numpy as np
import pandas as pd
import urllib.parse as up
import warnings 
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine

## Conexion PGAdmin 4
Para conectarse a Postgres desde VSCode

In [6]:
    conn = psycopg2.connect(database="postgres",
                            host="localhost",
                            user="postgres",
                            password="123456",
                            port="5432")
    crsr = conn.cursor()

    connect = "postgresql://postgres:123456@localhost:5432/postgres"

    engine = create_engine(connect)

## Conexion Servidor ElephanSQL

In [7]:
"""
    up.uses_netloc.append("postgres")
    url = "postgresql://ojsviats:SMTMA2n8pMCoLS-LlukJAdnmrwkwS_Uc@flora.db.elephantsql.com/ojsviats"

    conn = psycopg2.connect(url)
                            
    crsr = conn.cursor()
    engine = create_engine(url)
"""

'\n    up.uses_netloc.append("postgres")\n    url = "postgresql://ojsviats:SMTMA2n8pMCoLS-LlukJAdnmrwkwS_Uc@flora.db.elephantsql.com/ojsviats"\n\n    conn = psycopg2.connect(url)\n                            \n    crsr = conn.cursor()\n    engine = create_engine(url)\n'

## Creamos las tablas de la base de datos

### Tabla Profesor

In [ ]:
query = '''
CREATE TABLE profesor (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla TA

In [ ]:
query = '''
CREATE TABLE ta (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_profesor VARCHAR(32) NOT NULL,
    nombre VARCHAR(32) NOT NULL,
    CONSTRAINT fk_profesor 
        FOREIGN KEY (id_profesor) REFERENCES profesor(id)
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Campus

In [ ]:
query = '''
CREATE TABLE campus (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Promoción

In [ ]:
query = '''
CREATE TABLE promocion (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    mes VARCHAR(32),
    fecha_inicio VARCHAR(32),
    id_campus VARCHAR(32),
    CONSTRAINT fk_campus_ver FOREIGN KEY (id_campus) REFERENCES campus(id)
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Vertical

In [ ]:
query = '''
CREATE TABLE vertical (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    id_promocion VARCHAR(32), 
    id_profesor VARCHAR(32),
    CONSTRAINT fk_promocion_ver FOREIGN KEY (id_promocion) REFERENCES promocion(id),
    CONSTRAINT fk_profesor_ver FOREIGN KEY (id_profesor) REFERENCES profesor(id)
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Proyectos

In [ ]:
query = '''
CREATE TABLE proyectos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Alumnos

In [ ]:
query = '''
CREATE TABLE alumnos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    email VARCHAR(32) NOT NULL,
    id_vertical VARCHAR(32) NOT NULL,
    CONSTRAINT fk_vertical
        FOREIGN KEY (id_vertical) REFERENCES vertical(id)
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Notas

In [ ]:
query = '''
CREATE TABLE notas (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_alumno VARCHAR(32) NOT NULL,
    id_proyecto VARCHAR(32),
    nota VARCHAR(32),
CONSTRAINT fk_alumnos_notas FOREIGN KEY (id_alumno) REFERENCES alumnos(id),
CONSTRAINT fk_proyectos_notas FOREIGN KEY (id_proyecto) REFERENCES proyectos(id)
)
'''
crsr.execute(query)

In [ ]:
conn.commit()

### Tabla Alumnos

In [ ]:
query = '''
INSERT INTO alumnos VALUES (53,'Matias ','email@loquese.com',2)
'''
crsr.execute(query)

In [ ]:
conn.commit()

##  Metodo para almacenar las consultas en DataFrames

In [9]:
# Con esta función leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

## Importamos los datos y los añadimos en la base de datos

In [10]:
df_claustro = pd.read_csv("data/claustro.csv", sep=";")
df_claustro

               Nombre Rol Vertical   Promocion    Campus
0           Noa Yáñez  TA       DS  Septiembre    Madrid
1   Saturnina Benitez  TA       DS  Septiembre    Madrid
2          Anna Feliu  TA       FS  Septiembre    Madrid
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia
5     Angélica Corral  TA       FS     Febrero    Madrid
6         Ariel Lledó  TA       DS  Septiembre    Madrid
7         Mario Prats  LI       FS     Febrero  Valencia
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid
9  María Dolores Diaz  LI       DS  Septiembre    Madrid

In [11]:
df_profesor = df_claustro[df_claustro["Rol"] == 'LI']
df_profesor = df_profesor[["Nombre"]]
df_profesor.rename(columns={"Nombre": "nombre"},inplace=True)

In [ ]:
df_profesor.to_sql(name="profesor", con=engine, if_exists="append", index_label='id')

In [12]:
df_ta = df_claustro[df_claustro["Rol"] == 'TA']
df_ta = df_ta[["Nombre","Vertical","Campus"]]
df_ta.rename(columns={"Nombre": "nombre"},inplace=True)
df_ta

              nombre Vertical    Campus
0          Noa Yáñez       DS    Madrid
1  Saturnina Benitez       DS    Madrid
2         Anna Feliu       FS    Madrid
3      Rosalva Ayuso       FS  Valencia
4   Ana Sofía Ferrer       FS  Valencia
5    Angélica Corral       FS    Madrid
6        Ariel Lledó       DS    Madrid

In [15]:
df_prof_inner = df_claustro[df_claustro["Rol"] == 'LI']
df_prof_inner.reset_index(inplace=True)
df_prof_inner.rename(columns={"index":"id"},inplace=True)
df_prof_inner

   id              Nombre Rol Vertical   Promocion    Campus
0   7         Mario Prats  LI       FS     Febrero  Valencia
1   8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid
2   9  María Dolores Diaz  LI       DS  Septiembre    Madrid

In [16]:
df_ta_inner = df_ta.merge(df_prof_inner, on=["Vertical", "Campus"], how="outer")

In [17]:
df_ta_inner = df_ta_inner[["nombre","id"]]
df_ta_inner.rename(columns={"id":"id_profesor"},inplace=True)
df_ta_inner

              nombre  id_profesor
0          Noa Yáñez            9
1  Saturnina Benitez            9
2        Ariel Lledó            9
3         Anna Feliu            8
4    Angélica Corral            8
5      Rosalva Ayuso            7
6   Ana Sofía Ferrer            7

In [ ]:
df_ta_inner.to_sql(name="ta", con=engine, if_exists="append", index_label='id')

In [18]:
df_ds_1 = pd.read_csv("data/listado_DS_clase_1.csv", sep=";")
df_ds_2 = pd.read_csv("data/listado_DS_clase_2.csv", sep=";")
df_fs_1 = pd.read_csv("data/listado_FS_clase_1.csv", sep=";")
df_fs_2 = pd.read_csv("data/listado_FS_clase_2.csv", sep=";")
df_alumn_all = pd.concat([df_ds_1,df_ds_2,df_fs_1,df_fs_2])
df_alumn_all.reset_index(inplace=True, drop=True)
df_alumn_all

,Nombre,Email,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
5,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
9,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
10,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
11,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
13,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
14,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
15,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
16,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
17,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
18,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
19,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
20,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
21,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
22,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
23,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
24,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
25,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
26,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,Apto
27,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
28,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
29,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
30,Julie Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,No Apto
31,Mireia Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
32,Flavia Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
33,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
34,Ester Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,No Apto,Apto
35,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
36,Loida Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
37,Heraclio Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,No Apto
38,Herberto Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
39,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
40,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
41,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
42,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto
43,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,No Apto
44,Ricarda Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
45,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
46,Daniel Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
47,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
48,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
49,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
50,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,Apto
51,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto

In [19]:
df_campus = df_alumn_all.loc[:,"Campus"]
df_campus_unique =  pd.DataFrame(df_campus.drop_duplicates().values)
df_campus_unique.rename(columns={0:"nombre"},inplace=True)

In [ ]:
df_campus_unique.to_sql(name="campus", con=engine, if_exists="append", index_label='id')

In [20]:
df_campus_unique.reset_index(inplace=True)
df_campus_unique.rename(columns={"index":"id_campus"},inplace=True)
df_campus_unique

   id_campus    nombre
0          0    Madrid
1          1  Valencia

In [21]:
df_campus_unique.rename(columns={"nombre":"campus"},inplace=True)
df_campus_unique

   id_campus    campus
0          0    Madrid
1          1  Valencia

In [22]:
df_promocion = df_alumn_all.loc[:,"Promoción":"Campus"]
df_promocion = pd.DataFrame(df_promocion.drop_duplicates().values)
df_promocion.rename(columns={0:"mes",1:"fecha_inicio",2:"campus"},inplace=True)

In [23]:
df_promocion_ids = df_promocion.merge(df_campus_unique, on = "campus")
df_promocion_ids

          mes fecha_inicio    campus  id_campus
0  Septiembre   18/09/2023    Madrid          0
1     Febrero   12/02/2024    Madrid          0
2     Febrero   12/02/2024  Valencia          1

In [ ]:
df_promocion_sql = df_promocion_ids[["mes","fecha_inicio","id_campus"]]

In [24]:
df_promocion_ids.reset_index(inplace=True)
df_promocion_ids.rename(columns={"index":"id_promocion"},inplace=True)
df_promocion_ids

   id_promocion         mes fecha_inicio    campus  id_campus
0             0  Septiembre   18/09/2023    Madrid          0
1             1     Febrero   12/02/2024    Madrid          0
2             2     Febrero   12/02/2024  Valencia          1

In [25]:
df_vertical = df_alumn_all.loc[:,"Promoción":"Proyecto_FullSatck"]
df_vertical

,Promoción,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
5,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
6,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
7,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
8,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
9,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
10,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
11,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
12,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
13,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
14,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
15,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
16,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
17,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
18,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
19,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
20,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
21,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
22,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
23,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
24,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
25,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
26,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,Apto
27,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
28,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
29,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
30,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,No Apto
31,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
32,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
33,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
34,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,No Apto,Apto
35,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
36,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
37,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,No Apto
38,Septiembre,18/09/2023,Madrid,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
39,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
40,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
41,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
42,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto
43,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,No Apto
44,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
45,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
46,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
47,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
48,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
49,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
50,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,Apto
51,Febrero,12/02/2024,Valencia,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto

In [26]:
df_vertical["Vertical"] = df_vertical["Proyecto_EDA"].notna()
df_vertical["Vertical"] = df_vertical["Vertical"].astype(str)
df_vertical["Vertical"] = df_vertical["Vertical"].str.replace("True", "DS")
df_vertical["Vertical"] = df_vertical["Vertical"].str.replace("False", "FS")
df_vertical = df_vertical[["Promoción","Fecha_comienzo","Campus", "Vertical"]]
df_vertical.reset_index(inplace=True, drop=True)
df_vertical.rename(columns={"Promoción":"Promocion"},inplace=True)
df_vertical

     Promocion Fecha_comienzo    Campus Vertical
0   Septiembre     18/09/2023    Madrid       DS
1   Septiembre     18/09/2023    Madrid       DS
2   Septiembre     18/09/2023    Madrid       DS
3   Septiembre     18/09/2023    Madrid       DS
4   Septiembre     18/09/2023    Madrid       DS
5   Septiembre     18/09/2023    Madrid       DS
6   Septiembre     18/09/2023    Madrid       DS
7   Septiembre     18/09/2023    Madrid       DS
8   Septiembre     18/09/2023    Madrid       DS
9   Septiembre     18/09/2023    Madrid       DS
10  Septiembre     18/09/2023    Madrid       DS
11  Septiembre     18/09/2023    Madrid       DS
12  Septiembre     18/09/2023    Madrid       DS
13  Septiembre     18/09/2023    Madrid       DS
14  Septiembre     18/09/2023    Madrid       DS
15     Febrero     12/02/2024    Madrid       DS
16     Febrero     12/02/2024    Madrid       DS
17     Febrero     12/02/2024    Madrid       DS
18     Febrero     12/02/2024    Madrid       DS
19     Febrero     12/02/2024    Madrid       DS
20     Febrero     12/02/2024    Madrid       DS
21     Febrero     12/02/2024    Madrid       DS
22     Febrero     12/02/2024    Madrid       DS
23     Febrero     12/02/2024    Madrid       DS
24     Febrero     12/02/2024    Madrid       DS
25  Septiembre     18/09/2023    Madrid       FS
26  Septiembre     18/09/2023    Madrid       FS
27  Septiembre     18/09/2023    Madrid       FS
28  Septiembre     18/09/2023    Madrid       FS
29  Septiembre     18/09/2023    Madrid       FS
30  Septiembre     18/09/2023    Madrid       FS
31  Septiembre     18/09/2023    Madrid       FS
32  Septiembre     18/09/2023    Madrid       FS
33  Septiembre     18/09/2023    Madrid       FS
34  Septiembre     18/09/2023    Madrid       FS
35  Septiembre     18/09/2023    Madrid       FS
36  Septiembre     18/09/2023    Madrid       FS
37  Septiembre     18/09/2023    Madrid       FS
38  Septiembre     18/09/2023    Madrid       FS
39     Febrero     12/02/2024  Valencia       FS
40     Febrero     12/02/2024  Valencia       FS
41     Febrero     12/02/2024  Valencia       FS
42     Febrero     12/02/2024  Valencia       FS
43     Febrero     12/02/2024  Valencia       FS
44     Febrero     12/02/2024  Valencia       FS
45     Febrero     12/02/2024  Valencia       FS
46     Febrero     12/02/2024  Valencia       FS
47     Febrero     12/02/2024  Valencia       FS
48     Febrero     12/02/2024  Valencia       FS
49     Febrero     12/02/2024  Valencia       FS
50     Febrero     12/02/2024  Valencia       FS
51     Febrero     12/02/2024  Valencia       FS

In [27]:
df_prof_inner

   id              Nombre Rol Vertical   Promocion    Campus
0   7         Mario Prats  LI       FS     Febrero  Valencia
1   8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid
2   9  María Dolores Diaz  LI       DS  Septiembre    Madrid

In [28]:
df_inner_vert = df_vertical.merge(df_prof_inner, on=["Campus","Promocion","Vertical"], how="outer" )
df_inner_vert

     Promocion Fecha_comienzo    Campus Vertical   id              Nombre  Rol
0   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
1   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
2   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
3   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
4   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
5   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
6   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
7   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
8   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
9   Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
10  Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
11  Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
12  Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
13  Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
14  Septiembre     18/09/2023    Madrid       DS  9.0  María Dolores Diaz   LI
15     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
16     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
17     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
18     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
19     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
20     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
21     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
22     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
23     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
24     Febrero     12/02/2024    Madrid       DS  NaN                 NaN  NaN
25  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
26  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
27  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
28  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
29  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
30  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
31  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
32  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
33  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
34  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
35  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
36  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
37  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
38  Septiembre     18/09/2023    Madrid       FS  8.0   Luis Ángel Suárez   LI
39     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
40     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
41     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
42     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
43     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
44     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
45     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
46     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
47     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
48     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
49     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
50     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI
51     Febrero     12/02/2024  Valencia       FS  7.0         Mario Prats   LI

In [29]:
df_inner_vert = df_inner_vert[["Promocion","Fecha_comienzo","Campus","Vertical","id"]]
df_inner_vert.rename(columns={"id": "id_profesor", "Vertical":"nombre","Fecha_comienzo":"fecha_inicio", "Promocion":"mes", "Campus":"campus"},inplace=True)

In [30]:
df_inner_vert_uniq = df_inner_vert.drop_duplicates()
df_inner_vert_uniq.reset_index(inplace=True,drop=True)
df_inner_vert_uniq

          mes fecha_inicio    campus nombre  id_profesor
0  Septiembre   18/09/2023    Madrid     DS          9.0
1     Febrero   12/02/2024    Madrid     DS          NaN
2  Septiembre   18/09/2023    Madrid     FS          8.0
3     Febrero   12/02/2024  Valencia     FS          7.0

In [31]:
df_promocion_ids

   id_promocion         mes fecha_inicio    campus  id_campus
0             0  Septiembre   18/09/2023    Madrid          0
1             1     Febrero   12/02/2024    Madrid          0
2             2     Febrero   12/02/2024  Valencia          1

In [32]:
df_inner_vert_ids_prom = df_inner_vert_uniq.merge(df_promocion_ids, on=["mes","fecha_inicio","campus"], how="inner" )
df_inner_vert_ids_prom

,mes,fecha_inicio,campus,nombre,id_profesor,id_promocion,id_campus
0,Septiembre,18/09/2023,Madrid,DS,9.0,0,0
1,Septiembre,18/09/2023,Madrid,FS,8.0,0,0
2,Febrero,12/02/2024,Madrid,DS,NaN,1,0
3,Febrero,12/02/2024,Valencia,FS,7.0,2,1

In [33]:
df_column_na = pd.DataFrame(df_inner_vert_ids_prom.loc[2,"mes":"id_promocion"])
df_column_na = df_column_na.T
df_column_na

       mes fecha_inicio  campus nombre id_profesor id_promocion
2  Febrero   12/02/2024  Madrid     DS         NaN            1

In [34]:
df_inner_vert_ids_prom.dropna(axis=0, inplace=True)
df_inner_vert_ids_prom["id_profesor"] = df_inner_vert_ids_prom["id_profesor"].astype(int)
df_inner_vert_ids_prom = pd.concat([df_inner_vert_ids_prom,df_column_na])
df_inner_vert_ids_prom

,mes,fecha_inicio,campus,nombre,id_profesor,id_promocion,id_campus
0,Septiembre,18/09/2023,Madrid,DS,9,0,0.0
1,Septiembre,18/09/2023,Madrid,FS,8,0,0.0
3,Febrero,12/02/2024,Valencia,FS,7,2,1.0
2,Febrero,12/02/2024,Madrid,DS,NaN,1,NaN

In [35]:
df_vert_ids_sql = df_inner_vert_ids_prom[["nombre","id_profesor","id_promocion"]]
df_vert_ids_sql["id_promocion"] =df_vert_ids_sql["id_promocion"].astype(str)

In [ ]:
df_vert_ids_sql.to_sql(name="vertical", con=engine, if_exists="append", index_label='id')

In [37]:
df_alumn = df_alumn_all.loc[:,:]
df_alumn.rename(columns={"Nombre":"nombre", "Email":"email","Promoción":"mes","Fecha_comienzo":"fecha_inicio","Campus":"campus"}, inplace=True)
df_alumn.head()

,nombre,email,mes,fecha_inicio,campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN

In [38]:
df_alumn["Vertical"] = df_alumn["Proyecto_EDA"].notna()
df_alumn["Vertical"] = df_alumn["Vertical"].astype(str)
df_alumn["Vertical"] = df_alumn["Vertical"].str.replace("True", "DS")
df_alumn["Vertical"] = df_alumn["Vertical"].str.replace("False", "FS")
df_alumn.head()

,nombre,email,mes,fecha_inicio,campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck,Vertical
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN,DS
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN,DS
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN,DS
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN,DS
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN,DS

In [40]:
df_alumn = df_alumn[["nombre","email","mes","fecha_inicio","campus","Vertical"]]
df_alumn.head()

,nombre,email,mes,fecha_inicio,campus,Vertical
0,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,DS
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,DS
2,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,DS
3,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,DS
4,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,DS

In [44]:
df_inner_vert_ids_prom.rename(columns={"nombre":"Vertical"},inplace=True)
df_inner_vert_ids_prom.rename(columns={"index":"id_vertical"}, inplace=True)

In [47]:
df_inner_vert_ids_prom.reset_index(inplace=True)
df_inner_vert_ids_prom.rename(columns={"index":"id_vertical"},inplace=True)
df_inner_vert_ids_prom

,level_0,id_vertical,mes,fecha_inicio,campus,Vertical,id_profesor,id_promocion,id_campus
0,0,0,Septiembre,18/09/2023,Madrid,DS,9,0,0.0
1,1,1,Septiembre,18/09/2023,Madrid,FS,8,0,0.0
2,2,3,Febrero,12/02/2024,Valencia,FS,7,2,1.0
3,3,2,Febrero,12/02/2024,Madrid,DS,NaN,1,NaN

In [48]:
df_alumnos_inner = df_alumn.merge(df_inner_vert_ids_prom, on=["mes","fecha_inicio","Vertical"])
df_alumnos_inner.rename(columns={"nombre_x":"nombre"},inplace=True)
df_alumnos_inner = df_alumnos_inner[["nombre","email","id_vertical"]]

In [49]:
df_alumnos_inner

                  nombre                           email  id_vertical
0           Jafet Casals          Jafet_Casals@gmail.com            0
1       Jorge Manzanares      Jorge_Manzanares@gmail.com            0
2          Onofre Adadia         Onofre_Adadia@gmail.com            0
3           Merche Prada          Merche_Prada@gmail.com            0
4           Pilar Abella          Pilar_Abella@gmail.com            0
5           Leoncio Tena          Leoncio_Tena@gmail.com            0
6        Odalys Torrijos       Odalys_Torrijos@gmail.com            0
7       Eduardo Caparrós      Eduardo_Caparrós@gmail.com            0
8     Ignacio Goicoechea    Ignacio_Goicoechea@gmail.com            0
9      Clementina Santos     Clementina_Santos@gmail.com            0
10         Daniela Falcó         Daniela_Falcó@gmail.com            0
11         Abraham Vélez         Abraham_Vélez@gmail.com            0
12  Maximiliano Menéndez  Maximiliano_Menéndez@gmail.com            0
13         Anita Heredia         Anita_Heredia@gmail.com            0
14             Eli Casas             Eli_Casas@gmail.com            0
15     Guillermo Borrego     Guillermo_Borrego@gmail.com            2
16        Sergio Aguirre        Sergio_Aguirre@gmail.com            2
17       Carlito Carrión       Carlito_Carrión@gmail.com            2
18       Haydée Figueroa       Haydée_Figueroa@gmail.com            2
19         Chita Mancebo         Chita_Mancebo@gmail.com            2
20      Joaquina Asensio      Joaquina_Asensio@gmail.com            2
21      Cristian Sarabia      Cristian_Sarabia@gmail.com            2
22         Isabel Ibáñez         Isabel_Ibáñez@gmail.com            2
23       Desiderio Jordá       Desiderio_Jordá@gmail.com            2
24       Rosalina Llanos       Rosalina_Llanos@gmail.com            2
25        Amor Larrañaga        Amor_Larrañaga@gmail.com            1
26      Teodoro Alberola      Teodoro_Alberola@gmail.com            1
27           Cleto Plana           Cleto_Plana@gmail.com            1
28      Aitana Sebastián      Aitana_Sebastián@gmail.com            1
29      Dolores Valbuena      Dolores_Valbuena@gmail.com            1
30          Julie Ferrer          Julie_Ferrer@gmail.com            1
31        Mireia Cabañas        Mireia_Cabañas@gmail.com            1
32         Flavia Amador         Flavia_Amador@gmail.com            1
33         Albino Macias         Albino_Macias@gmail.com            1
34         Ester Sánchez         Ester_Sánchez@gmail.com            1
35    Luis Miguel Galvez    Luis_Miguel_Galvez@gmail.com            1
36        Loida Arellano        Loida_Arellano@gmail.com            1
37        Heraclio Duque        Heraclio_Duque@gmail.com            1
38     Herberto Figueras     Herberto_Figueras@gmail.com            1
39         Teresa Laguna         Teresa_Laguna@gmail.com            3
40      Estrella Murillo      Estrella_Murillo@gmail.com            3
41       Ernesto Uriarte       Ernesto_Uriarte@gmail.com            3
42       Daniela Guitart       Daniela_Guitart@gmail.com            3
43        Timoteo Trillo        Timoteo_Trillo@gmail.com            3
44         Ricarda Tovar         Ricarda_Tovar@gmail.com            3
45   Alejandra Vilaplana   Alejandra_Vilaplana@gmail.com            3
46       Daniel Rosselló       Daniel_Rosselló@gmail.com            3
47         Rita Olivares         Rita_Olivares@gmail.com            3
48          Cleto Montes          Cleto_Montes@gmail.com            3
49       Marino Castilla       Marino_Castilla@gmail.com            3
50   Estefanía Valcárcel   Estefanía_Valcárcel@gmail.com            3
51        Noemí Vilanova        Noemí_Vilanova@gmail.com            3

In [ ]:
df_alumnos_inner.to_sql(name="alumnos", con=engine, if_exists="append", index_label='id')

In [50]:
df_proyectos = df_alumn_all.loc[:,"Proyecto_HLF":"Proyecto_FullSatck"]
df_proyectos.columns
df_proyectos = df_proyectos.T

In [51]:

df_proyectos.reset_index(inplace=True)
df_proyectos.rename(columns={"index":"nombre"}, inplace=True)

In [52]:
df_proyectos = df_proyectos[["nombre"]]
df_proyectos

                nombre
0         Proyecto_HLF
1         Proyecto_EDA
2        Proyecto_BBDD
3          Proyecto_ML
4  Proyecto_Deployment
5      Proyecto_WebDev
6    Proyecto_FrontEnd
7     Proyecto_Backend
8       Proyecto_React
9   Proyecto_FullSatck

In [ ]:
df_proyectos.to_sql(name="proyectos", con=engine, if_exists="append", index_label='id')

In [53]:
df_notas = df_alumn_all.loc[:,"Proyecto_HLF":"Proyecto_FullSatck"]
df_notas.reset_index(inplace=True)
df_notas.rename(columns={"index":"id_alumno"},inplace=True)
df_notas

,id_alumno,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,0,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
1,1,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
2,2,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
3,3,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
4,4,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
5,5,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
6,6,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
7,7,No Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
8,8,Apto,Apto,Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
9,9,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
10,10,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
11,11,Apto,No Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
12,12,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
13,13,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
14,14,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
15,15,Apto,No Apto,No Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
16,16,Apto,No Apto,Apto,Apto,No Apto,NaN,NaN,NaN,NaN,NaN
17,17,Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
18,18,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
19,19,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
20,20,No Apto,No Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
21,21,Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
22,22,No Apto,Apto,No Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
23,23,No Apto,Apto,No Apto,No Apto,Apto,NaN,NaN,NaN,NaN,NaN
24,24,Apto,Apto,Apto,Apto,Apto,NaN,NaN,NaN,NaN,NaN
25,25,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
26,26,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,Apto
27,27,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
28,28,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,Apto,No Apto,Apto
29,29,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,No Apto
30,30,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,No Apto
31,31,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
32,32,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
33,33,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
34,34,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,No Apto,Apto
35,35,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,Apto
36,36,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
37,37,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,No Apto
38,38,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
39,39,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
40,40,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
41,41,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
42,42,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto
43,43,NaN,NaN,NaN,NaN,NaN,No Apto,Apto,Apto,Apto,No Apto
44,44,NaN,NaN,NaN,NaN,NaN,Apto,Apto,Apto,Apto,Apto
45,45,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
46,46,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
47,47,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,No Apto,Apto,Apto
48,48,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,Apto,Apto
49,49,NaN,NaN,NaN,NaN,NaN,No Apto,No Apto,Apto,No Apto,No Apto
50,50,NaN,NaN,NaN,NaN,NaN,Apto,Apto,No Apto,No Apto,Apto
51,51,NaN,NaN,NaN,NaN,NaN,Apto,No Apto,No Apto,Apto,Apto

In [54]:
df_notas_hlf = df_notas.loc[:,["id_alumno","Proyecto_HLF"]]
df_notas_hlf["nombre"] = "Proyecto_HLF"
df_notas_hlf.rename(columns={"Proyecto_HLF":"nota"},inplace=True)
df_notas_eda = df_notas.loc[:,["id_alumno","Proyecto_EDA"]]
df_notas_eda["nombre"] = "Proyecto_EDA"
df_notas_eda.rename(columns={"Proyecto_EDA":"nota"},inplace=True)
df_notas_bbdd = df_notas.loc[:,["id_alumno","Proyecto_BBDD"]]
df_notas_bbdd["nombre"] = "Proyecto_BBDD"
df_notas_bbdd.rename(columns={"Proyecto_BBDD":"nota"},inplace=True)
df_notas_ml = df_notas.loc[:,["id_alumno","Proyecto_ML"]]
df_notas_ml["nombre"] = "Proyecto_ML"
df_notas_ml.rename(columns={"Proyecto_ML":"nota"},inplace=True)
df_notas_dev = df_notas.loc[:,["id_alumno","Proyecto_Deployment"]]
df_notas_dev["nombre"] = "Proyecto_Deployment"
df_notas_dev.rename(columns={"Proyecto_Deployment":"nota"},inplace=True)
df_notas_web = df_notas.loc[:,["id_alumno","Proyecto_WebDev"]]
df_notas_web["nombre"] = "Proyecto_WebDev"
df_notas_web.rename(columns={"Proyecto_WebDev":"nota"},inplace=True)
df_notas_fe = df_notas.loc[:,["id_alumno","Proyecto_FrontEnd"]]
df_notas_fe["nombre"] = "Proyecto_FrontEnd"
df_notas_fe.rename(columns={"Proyecto_FrontEnd":"nota"},inplace=True)
df_notas_be = df_notas.loc[:,["id_alumno","Proyecto_Backend"]]
df_notas_be["nombre"] = "Proyecto_Backend"
df_notas_be.rename(columns={"Proyecto_Backend":"nota"},inplace=True)
df_notas_rct = df_notas.loc[:,["id_alumno","Proyecto_React"]]
df_notas_rct["nombre"] = "Proyecto_React"
df_notas_rct.rename(columns={"Proyecto_React":"nota"},inplace=True)
df_notas_fs = df_notas.loc[:,["id_alumno","Proyecto_FullSatck"]]
df_notas_fs["nombre"] = "Proyecto_FullSatck"
df_notas_fs.rename(columns={"Proyecto_FullSatck":"nota"},inplace=True)

In [55]:
df_proyectos.reset_index(inplace=True)
df_proyectos.rename(columns={"index":"id_proyecto"},inplace=True)

In [56]:
def add_sql_notes(df,df_pro, index):
    df.dropna(inplace=True)
    df.set_index(index,inplace=True)
    df.reset_index(inplace=True)
    df.rename(columns={"index":"id"},inplace=True)
    df_inner = df.merge(df_pro, on="nombre")
    df_inner = df_inner[["id","nota","id_alumno","id_proyecto"]]
    df_inner.to_sql(name="notas", con=engine, if_exists="append", index=False)

In [ ]:
index = np.arange(0,25)
add_sql_notes(df_notas_hlf,df_proyectos, index)
index = np.arange(25,50)
add_sql_notes(df_notas_eda,df_proyectos, index)
index = np.arange(50,75)
add_sql_notes(df_notas_bbdd,df_proyectos, index)
index = np.arange(75,100)
add_sql_notes(df_notas_ml,df_proyectos, index)
index = np.arange(100,125)
add_sql_notes(df_notas_dev,df_proyectos, index)
index = np.arange(125,152)
add_sql_notes(df_notas_web,df_proyectos, index)
index = np.arange(152,179)
add_sql_notes(df_notas_fe,df_proyectos, index)
index = np.arange(179,206)
add_sql_notes(df_notas_be,df_proyectos, index)
index = np.arange(206,233)
add_sql_notes(df_notas_rct,df_proyectos, index)
index = np.arange(233,260)
add_sql_notes(df_notas_fs,df_proyectos, index)